<%= turbo_frame_tag 'modal' %>
<section class="flex justify-around items-center p-32" id="evaluations_all">
  <div>
    <%= image_tag("6099984.jpg", width: 400) %>
  </div>

  <div>
    <h1 class="text-center text-3xl font-bold text-evaluationStrong">Evaluations</h1>
    <p class=" text-center py-2 font-semibold text-evaluationStrong">
      It is a long established fact that a reader will be distracted by the readable<br/>
      content of a page when looking at its layout. The point of using Lorem Ipsum is that it<br/>
      has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here',<br/>
      making it look like readable English.
    </p>

    <div class="flex justify-center my-4">
      <%= link_to new_evaluation_path, id:"create_evaluation_welcome", data: {turbo_frame: 'modal'} do %>
        <div class="p-3 bg-evaluationStrong text-white text-sm font-semibold rounded-lg">
          Create
        </div>
      <% end %>
    </div>
  </div>
</section>
