<% if user_signed_in? %>
  <section>
    <div>
      <h1>Survey Rails App.</h1>
      <span>survey-rails-app.com</span>
      <p>
        There are many variations of passages of Lorem Ipsum available,<br />
        but the majority have suffered alteration in some form, by injected humour, or randomised words<br />
        which don't look even slightly believable.
      </p>
    </div>

    <div>
      <%= image_tag("3254897.jpg", width: 300) %>
    </div>
  </section>
<% end %>

